#.gitignore 规则语法（常用）
#直接写文件名 / 目录名：忽略同名文件 / 目录（如 target/ 忽略整个target目录）；
#通配符 *：匹配任意字符（如 *.log 忽略所有.log后缀的文件）；
#路径分隔符 /：限定目录（如 docs/ 只忽略根目录下的docs，子目录的docs不忽略）；
#注释 #：开头加#是注释，不会生效；
#反忽略 !：排除特定文件（比如先忽略*.txt，再用!readme.txt保留readme.txt）。


# IDE工具生成的文件
.idea/